@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    border: none;
    user-select: none;
}

body {
    min-height: 100vh;
    background-color: #0e4bf1;
}
nav {
    top:0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-image: linear-gradient(to bottom right, #2C383D, #181E22) !important;
    transition: all 0.5s ease;
    overflow: auto;
}

nav.close {
    width: 73px;

}

nav .div-logo-name {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    white-space: nowrap;
    overflow: hidden;
}
 
nav .logo_name {
    font-size: 29px;
    font-weight: 600;
    color: #00aaff;
    transition: all 0.5s ease;
}

nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
}

.div-logo-name {
    width: 100%;
    padding-top: 30px;
}

nav .menu-items s{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 25px;
}

menu-items li {
    background-color: transparent;
    border-bottom: 1px solid #1A2326;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
}

.close .menu-items li a {
    justify-content: center;
}

.menu-items li a {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100px;
    text-decoration: none;
    position: relative;
}

.menu-items li a i {
    font-size: 18px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
}

.menu-items li a .link-name {
    font-size: 16px;
    font-weight: 400;
    color: #ffff;
    transition: all 0.5s ease;
}

.nav-links li:hover {
    border-left: 3px solid#00aaff;
    font-weight: bold;
    background-image: linear-gradient(to right, #181e22, #181e22, #2c383d) !important;
    background: transparent;
}

.menu.items .mode {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

nav.cle li a .link-name {
    display: none;
}

.close .menu-sid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-sid {
    width: 100%;
    display: flex;
    justify-content: left;
    padding: 12%;
}

.sidebar-toggle {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    padding: 6px;
}

.sidebar-toggle2 {
    font-size: 30px;
    font-weight: bold;
    color: #0000;
    cursor: pointer;
    padding: 6px;
    display: none;
}

.icons-size {
    color: #555;
    font-size: 22px;
    font-weight: 600;
}

.actinoimg {
    right: 30px;
    display: flex;
    object-fit: cover;
}

.actinoimg .profile {
    border-radius: 50%;
    cursor: pointer;
    height: 36px;
    overflow: hidden;
    width: 36px;    
}

.actinoimg .profile img {
    width: 100%;
    top: 0;
    object-fit: cover;
    left: 0;
    height: 100%;
}

.actinoimg.menu {
    background-color: #ffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 10px 20px;
    position: absolute;
    right: 10px;
    width: 200px;
    transition: 0.5s;
    top: 120px;
    visibility: hidden;
    opacity: 0;
}

.actinimg .menu.active {
    opacity: 1;
    top:60px;
    visibility: visible;
}

.actionimg .menu::before {
    background-color: #ffffff;
    content: '';
    height: 20px;
    position: absolute;
    right: 14px;
    transform: rotate(45deg);
    top:-5px;
    width: 20px;
}

.actinoimg .menu h3{
    color: #535252;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3em;
    padding: 20px 0px;
    text-align: left;
    width: 100%;
}

.actinoimg .menu ul li {
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 10px 0px;
    cursor: pointer;
}

.actinoimg .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}

.actinoimg .menu ul li a {
    display: inline-block;
    color: #707070;
    font-size:14px;
    font-weight: 600;
    padding-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.actinoimg .menu ul li * {
    transition: 0.1s;
}

.actinoimg .menu ul li:hover img {
    opacity: 1;
}

.actinoimg .menu ul li:hover * {
    color: #00aaff;
}

.actinoimg .menu ul li:hover a {
    font-size: 15px;
}

.actinoimg li:hover .icons-size {
    font-size: 24px;
}

.corpo {
    display: flex;
}

.dashboard {
    background-color: rgb(247, 245, 245);
    height: 100vh;
    width: 100%;
    transition: all 0.5s ease;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}

.top {
    top: 0;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: rgb(255, 255, 255);
    transition: all 0.5s ease;
    z-index: 10;
}

.scroll::-webkit-scrollbar {
    width: 5px;
    border: 1px solid rgb(255, 255, 255);
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #0e4bf1;
    border-radius: 6px;
}

.corpo-da-pag {
    padding: 20px;
    width: 100%;
    height: calc(100% - 50%px);
}

.scroll {
    padding: 20px;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.overview .title {
    display: flex;
    align-items: center;
    margin: 6px 0 30px 0;
}

.title i {
    height: 35px;
    width: 35px;
    background-color: #3e5055;
    border-radius: 6px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.title .text {
    font-size: 24px;
    font-weight: 500;
    color: #000;
    margin-left: 10px;
}

.table-div {
    font-size: 20px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgb(222, 222, 222);
    table-layout: auto;
}

table td,
table th {
    padding: 12px 15px;
    text-align: center;
    font-size: 12px;
}

table th {
    background-color: #3E5055;
    color: #ffffff;
}

table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
    border: 1px solid rgb(222, 222, 222);
}